rflib/main/default/flows/RFLIB_Application_Event_Occurred_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Application_Event_Insertion_Error</name>
        <label>Log Application Event Insertion Error</label>
        <locationX>440</locationX>
        <locationY>314</locationY>
        <actionName>rflib_LoggerFlowAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>context</name>
            <value>
                <stringValue>RFLIB Application Event Occurred Handler</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to log application event: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Saves the Application Event. See https://ideas.salesforce.com/s/idea/a0B8W00000J8A6cUAF/long-text-areas-in-flow</description>
        <name>Save_Application_Event</name>
        <label>Save Application Event</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <actionName>rflib_SaveAppEventOccurrenceAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Log_Application_Event_Insertion_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>events</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <description>Handles the occurrence of an Application Event Platform Event to store it in the Custom Object.</description>
    <environments>Default</environments>
    <interviewLabel>RFLIB Application Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RFLIB Application Event Occurred Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Save_Application_Event</targetReference>
        </connector>
        <object>rflib_Application_Event_Occurred_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
