rflib/main/default/flows/rflib_Log_Event_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Archive_Log_Event</name>
        <label>Archive Log Event</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <actionName>rflib_ArchiveLogAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>rflib_Send_Log_Event_Emails</targetReference>
        </connector>
        <faultConnector>
            <targetReference>rflib_Send_Log_Event_Emails</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>events</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends out the log event to the Apex Exception Email recipient list if the Log Event fulfills the condition configured in the Logger Settings</description>
        <name>rflib_Send_Log_Event_Emails</name>
        <label>Send Log Event Emails</label>
        <locationX>176</locationX>
        <locationY>314</locationY>
        <actionName>rflib_SendLogEventEmailAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>events</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <description>Flow to execute when an RFLIB Log Event has been dispatched. The handler currently invokes the Send Log Event Email action, but can be extended to, for example, persist log information in a Custom Object.</description>
    <interviewLabel>Log Event Handler {!$Flow.CurrentDateTime}: {!$Record.Context__c} - {!$Record.ReplayId} - {!$Record.CreatedById} - {!$Record.Log_Level__c}</interviewLabel>
    <label>RFLIB Log Event Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Archive_Log_Event</targetReference>
        </connector>
        <object>rflib_Log_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
